.productDetails {
    p {
        font-size: 14px;
        font-weight: 400;
    }
    h1.heading {
        font-size: 30px;
        font-weight: 600;
        color: #333333;
        margin-top: 0px;
    }
    h3.starting-price {
        color: #ff3030;
        font-weight: 400;
        span {
            font-size: 18px;
        }
    }

    form {
        .inputLabel {
            font-weight: 600;
            & span {
                color: #ff3030;
            }
        }
        .enroll-action {
            display: flex;
            align-items: center;
            gap: 20px;
            input.qty {
                width: 70px;
                text-align: center;
                padding: 0px;
            }
        }
        h5.total {
            font-weight: 500;
            color: #ff3030;
        }
    }
    .long-desc-section {
        margin-top: 60px;
        border: solid 1px #d9d9d9;
        .header-section {
            background-color: #f4f4f4;
            ul {
                padding: 0px;
                margin: 0px;
                li {
                    display: inline-block;
                    padding: 10px 15px;
                    background-color: #ffffff;
                    border-right: solid 1px #d9d9d9;
                    position: relative;
                    h6 {
                        margin: 0px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        border-top: solid 1px #ffffff;
                        left: 0;
                        right: 0;
                        bottom: -1px;
                    }
                }
            }
        }
        .long-desc {
            padding: 10px 15px;
            border-top: solid 1px #d9d9d9;
        }
    }
}
    