.center-main {
    .card {
        .card-body {
            .action-btns {
                // text-align: right;
            }
            .card-subtitle {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }
            button.edit-pen {
                position: absolute;
                right: 0;
                bottom: 29px;
            }
        }
        
    }
    .add-center {
        .center-img {
            display: flex;
            align-items: end;
            gap: 15px;
            img {
                max-width: 220px;
                border-radius: 5px;
            }
        }
        &:hover {
            transform: none!important;
        }
    }
}