.branch-main {
    .card {
        .card-body {
            .action-btns {
                // text-align: right;
            }
        }
        &.create-branch:hover {
            transform: none!important;
        }
    }
    
    .no-transform:hover {
        transform: none!important;
    }
    
    .card.branch {
        .card-body {
            .card-subtitle {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }
            button.edit-pen {
                position: absolute;
                right: 0;
                bottom: 29px;
            }
        }
    }
}
